body {
  font-family: 'Indie Flower', cursive;

}

h1 {
  text-align: center;
  font-size: 4em;
}

button.clear {
  border-radius: 0px;
  font-size: 1em;
}

.turn, .outcome {
  margin: auto auto;
  height: 50px;
  width: 500px;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.intro {
  margin: auto auto;
  height: 50px;
  width: 500px;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 30px solid rgba(218, 127, 48, 0.733);
  border-radius: 20px;
  height: 420px;
  width: 420px;
  box-sizing: content-box;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}



.playerChoose, .playerNumber {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  text-align: center;
  font-size: 0.3em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  z-index: 0;
  padding: 70px 30px;
}

.playerChoose.show, .playerNumber.show {
  opacity: 1;
  z-index: 10;
}


.displayWinner {
  text-align: center;
  font-size: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  color: rgb(255, 255, 255);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  padding-top: 100px;
}

.show.displayWinner {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}


.playerChoice {
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 5px 15px;
  cursor: pointer;
}
.playerChoice:hover {
  border: 2px dashed rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

.turnSign {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
  margin-top: 50px;
}

.turnSign.show {
  margin-top: 0px;
}

.row{
  margin: 0;
  padding: 0;
}
.box {
  /* height: 175px;
  width: 175px; */
  opacity: 0;
  height: 130px;
  width: 130px;
  padding: 0;
  margin: 0;
  z-index: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.box.show {
  opacity: 1;
  z-index: 10;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#chooseX, #chooseY {
  cursor: pointer;
}
#player1-sign {
  background-color: rgba(62, 219, 141, 0.993);
}

#player2-sign {
  background-color: rgb(241, 71, 71);
}

#b0.show {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b1.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
#b2.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b3.show {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b4.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b5.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b6.show {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
#b7.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
#b8.show {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
