body {
  font-family: 'Indie Flower', cursive;

}

h1 {
  text-align: center;
  font-size: 4em;
}

button.clear {
  border-radius: 0px;
  font-size: 1.5em;
}

.outcome {
  margin: auto auto;
  height: 50px;
  width: 500px;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.outcome .hide {
  visibility: hidden;
}

.intro {
  margin: auto auto;
  height: 50px;
  width: 500px;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  height: 500px;
  width: 500px;
  box-sizing: content-box;
  font-size: 10em;
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playerChoose {
  text-align: center;
  font-size: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  opacity: 1;
  z-index: 10;
  visibility: visible;
  color: rgb(255, 255, 255);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  padding-top: 150px;
}

.displayWinner {
  text-align: center;
  font-size: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -moz-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: -o-radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  background-image: radial-gradient(rgb(42,83,73) 0%,rgb(19, 29, 19) 100%);
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  color: rgb(255, 255, 255);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  padding-top: 150px;
}

.show.displayWinner {
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

.game.playerChoose {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
}

.row{
  margin: 0;
  padding: 0;
}
.box {
  /* height: 175px;
  width: 175px; */
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#chooseX, #chooseY {
  cursor: pointer;
}

#b0 {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b1 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
#b2 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b3 {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b4 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b5 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#b6 {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
#b7 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
#b8 {
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
